.container1 {
    border: 2px solid black;
    margin: 25px;
    padding-top: 5px;
    height: 150vh;
    width: 30vw;
    float: left;
}

.gender {
    padding-left: 5px;
}

.radio {
    padding-left: 15px;
}

.categories {
    padding-left: 5px;
}

.check{
    padding-left: 15px;
}